*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

**/.idea
**/*.ipr
**/*.iws

**/gradle.properties
**/local.properties
**/gradlew
**/gradlew.bat
**/.gradletasknamecache
**/gradle
**/build